// *{
//     margin: 0;
//     padding: 0;box-sizing: border-box;
// }

html,body,#root{
    height: 100%;
             font-family: 'Space Grotesk', sans-serif;
    overflow-y: hidden;
}

#root{
    background-color: #1d1d1c;
}

a{
    text-decoration: none;
}
