@import "tailwindcss";

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #1e1e1e;
    font-family: 'Poppins', sans-serif;
}

#root{
    height: 100%;
    width: 100%;
}
.grade{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.nav{
    background: linear-gradient(to right, #ff7e5f, #feb47b);

}


::-webkit-scrollbar{
    width: 7px;
    background-color: #1e1e1e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}