@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --pri: #F8F4E1;
    --sec: #391a05;
    --tri1: #FEBA17;
    --tri2: #74512D;
}


@layer utilities {
  /* Background */
  .bg-pri { background-color: var(--pri); }
  .bg-sec { background-color: var(--sec); }
  .bg-tri1 { background-color: var(--tri1); }
  .bg-tri2 { background-color: var(--tri2); }
  .bg-danger { background-color: var(--danger); }

  /* Text */
  .text-pri { color: var(--pri); }
  .text-sec { color: var(--sec); }
  .text-tri1 { color: var(--tri1); }
  .text-tri2 { color: var(--tri2); }
  .text-danger { color: var(--danger); }

  /* Border */
  .border-pri { border-color: var(--pri); }
  .border-sec { border-color: var(--sec); }
  .border-tri1 { border-color: var(--tri1); }
  .border-danger { border-color: var(--danger); }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: var(--sec); /* same as background */
}

/* thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: var(--sec);
  border-radius: 10px;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    text-transform: capitalize;
}
body{
    display: flex;
    flex-direction: column;
}
.allelem{
height: 270px;
width: 238px;
border-radius: 20px;
position: relative;

}
.allelem>img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: cover;
}
.allelem p{
    font-size: 1.4rem;
    text-transform: capitalize;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 400;
    color: white;
}
.fullelem {
  position: fixed;   /* 🔥 CHANGE THIS */
  top: 0;          /* top:0 right:0 bottom:0 left:0 */
  width: 100%;
  min-height: 100vh;
  background-color: var(--sec);
  display: none;
  z-index: 50;      
}

.todo-box{
    width: 98%;
    margin: auto;
    padding: .7rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    background-color: var(--pri);
    color: var(--sec);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .7rem ;
    margin-top: 10px;
     
}
.todo-box p{
    font-size: 1.3rem;
    font-weight: 500;
      width: 80%;
    word-wrap: break-word;
}
.todo-btn{
    padding: 10px 16px;
    background-color: var(--sec);
    color: white;
    font-weight: 700;
    border-radius: .6rem;
}


.enteradd{
    border: 4px dashed wheat;
}
.color1{
    background-color: orangered !important;
    
}
.fullelem.kanban{
  position: absolute;   /* absolute hatao */
  min-height: 100vh;
}


@media (max-width:600px) {
    
   .todo-box{
    width: 98%;
    margin: auto;
    /* padding: .4rem; */
    gap: .7rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: var(--pri);
    color: var(--sec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: .7rem ;
    margin-top: 10px;
}
.todo-btn{
    width: 100%;
    padding: 10px 16px;
    background-color: var(--sec);
    color: white;
    font-weight: 700;
    font-size: x-small;
    border-radius: .6rem;
}

.todo-box p{
    font-size: .7rem;
    width: 100%;
    word-wrap: break-word;
    font-weight: 500;
}
}