main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .form-container{
        padding: 1rem;
color: white;
width: fit-content;
display: flex;
border-radius: 1.5rem;
justify-content: center;
flex-direction: column;
gap: 1rem;

        h1{
// text-align: center;
text-indent: 10px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        input,button{
            min-width: 300px;
            padding: 1rem;
            border: none;
            outline: none;
            font-weight: 600;
            border-radius: 16px;
            color: #1f1f1f
            
        }
        button{
            color: white;
            font-size: 1rem;
            background-color: rgb(187, 9, 45);
        }
        p{
            text-align: center;
            color: whitesmoke;
        }
        a{
            text-decoration: none;
            color: crimson;
        }
    }
}
